.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
section.biz {
    background: #fff;
    padding: 70px 0;
}

.biz__head {
    margin-left: 43px;
}

h2.biz__title {
    padding-bottom: 38.5px;
    font-size: 26px;
    &::after {
        content: "";
        width: 15%;
        background-color: #c39b0c;
        height: 2px;
        display: block;
        margin-left: 5px;
        margin-top: 10px;
    }
}
p.biz__desc {
    font-family: "Exo2-Regular";
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.biz__desc strong {
    font-weight: 600;
}

table.biz__table {
    width: 90%;
    border-spacing: 0;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.biz__table td {
    border: 1px solid #969697;
    width: 48%;
    height: 155px;
    padding: 10px 5px 0px 5px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: inline-block;
    &:nth-child(odd) {
        float: left;
    }
    &:nth-child(even) {
        float: right;
    }
    img {
        display: block;
        max-width: 100%;
        max-height: 90px;
        margin: 0 auto;
    }
    .table__content {
        text-align: center;
        width: 100%;
        p { 
            font-family: "Exo2-Regular", sans-serif;
            font-size: 14px;
            color:#000;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
    }
}

.button__white {
    font-size: 14px;
    max-width: 60%;
    line-height: 16px;
    padding: 1% 4%;
    color: #c39b0c;
    background: #fff;
    &:hover {
        color: #fff;
        background: #c39b0c;
    }
}

/* Section Part*/

section.part {
    background: url(/img/part_bg.jpg) #444 0 0 no-repeat;
    background-size: cover;
    padding-top: 55px;
    padding-top: 5.5%;
    padding-bottom: 50px;
}

.button__yellow-form {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-family: "Exo2-Regular";
    width: 65%;
    padding: 5px 5px 5px 10px;
    display: inline-block;
}

.part__title {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-family: "Exo2-Regular";
    font-weight: 400;
    text-align: center;
    padding-bottom: 3%;
    &::after {
        content: "";
        display: block;
        background: #cc9900;
        height: 2px;
        width: 8%;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 5%;
    }
} 
h3.form__title {
    font-family: "Exo2-Regular";
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}
.part__form {
    width: 65%;
    margin-top: 2%;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
    input {
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 14px;
        margin-right: 7.3%;
        &:last-child {
            margin-right: 0;
        }
    }
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

/* SECTION WRITE */

section.write {
    background-color: #f5f5f5;
    padding: 20px 0 25px 0;
}

h2.write__title {
    color: #000;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    &::after {
        content: "";
        display: block;
        background: #cc9900;
        height: 2px;
        width: 8%;
        margin-top: 15px;
        margin-bottom: 5%;
    }
}

.write__left, .write__right {
    display: block;
    height: 100%;
}

.write__left {
    background: #fff;
    padding-left: 5.3%;
    padding-right: 4%;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.write__right {
    background: url(/img/write_right_bg.jpg) #ddd 0 0 no-repeat;
    background-size: cover;
}

.write__desc {
    font-size: 13px;
    color: #1d1d11;
    padding-bottom: 10px;
}

.write__form {
    width: 65%;
    margin: 0 auto;
    input[type="submit"] {
        width: 70%;
        margin-top: 10px;
        font-size: 14px;
        color: #003;
        border: 2px solid #000;
        &:hover {
            color: #c39b0c;
            border: 2px solid #c39b0c;
        }
    }
    input[type="text"],textarea {
        color: #000;
        width: 100%;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 10px;
        border: 1px solid #003;
        padding: 0 20px 0 15px;
        outline: 0;
        &:focus {
            border: 1px solid #c39b0c;
            color: #c39b0c;
            background: url(/img/icons/success.png) 96% 50% no-repeat;
            background-size: 7%;
        }
    }
    textarea {
        height: 70px;
        font-size: 14px;
        line-height: 14px;
        resize: none;
        padding: 5px 20px 0 15px;
        &:focus {
            background: url(/img/icons/success.png) 96% 15% no-repeat;
            background-size: 7%;
        }
    }
    ::-webkit-input-placeholder {color:#010101;}
    ::-moz-placeholder          {color:#010101;}/* Firefox 19+ */
    :-moz-placeholder           {color:#010101;}/* Firefox 18- */
    s:-ms-input-placeholder      {color:#010101;}
}

.right__container {
    width: 60%;
    margin: 0 auto;
    padding-top: 25px;  
    padding-bottom: 25px;
    text-align: center;
    p {
        color: #fff;
        font-size: 18px;  
    }
    .promo {
        color: #fff;
        font-size: 18px;
    }
    .promo {
        margin-bottom: 10px;
        &::after {
            content: "";
            display: block;
            background: #cc9900;
            height: 2px;
            width: 15%;
            margin: 0 auto;
            margin-top: 10px;
        }
    }   
}
.write__phone, .write__address, .write__email {
    margin-top: 30px;
}

.write__phone {
    margin-top: 0;
}

@media only screen and (max-width : 320px) { 
}

@media only screen and (min-width : 480px) {
    h2.biz__title {
        &::after {
            margin-top: 15px;
            width: 60px;
        }
    }
    .biz__table p {
        font-size: 18px;
    }
    .button__white {
        font-size: 20px;
        max-width: 70%;
        line-height: 35px;
    }
    table.biz__table {
        margin-bottom: 30px;
    }
    .biz__table td .table__content p {
        font-size: 18px;
    }
    .biz__table td {
        height: 165px;
    }
    
    /*Part Section*/
    .part__form {
        width: 50%;
    }
    .button__yellow-form {
        font-size: 18px;
        line-height: 18px;
        width: 50%;
    }
    h3.form__title {
        padding: 0 22%;
        padding-bottom: 80px;
    }
    .part__title {
        padding: 0 18%;
    }
    
    /* Section Write */
    h2.write__title {
        font-size: 22px;
        line-height: 22px;
        width: 28%;
        &::after {
            width: 40%;
        }
    }
    .write__desc {
        font-size: 20px;
        line-height: 20px;
        padding: 20px 20px 15px 20px;
    }
    .write__right {
        background-position-y: 70%;
    }
    .write__form {
        input[type="text"] {
            width: 300px;
            font-size: 18px;
            line-height: 35px;
            padding: 0 30px 0 15px;
        }
        input[type="submit"] {
            max-width: 300px;
            margin-top: 10px;
            font-size: 18px;
        }
        textarea {
            width: 300px;
            height: 100px;
            font-size: 18px;
            line-height: 18px;
            padding: 10px 20px 0px 15px;
        }
    }
    .right__container {
        width: 48%;
        .promo {
            font-size: 20px;
            &::after {
                margin-top: 15px;
            }
        }
        p {
            font-size: 20px;  
        }
    }
}

@media only screen and (min-width : 768px) {
    .biz__table td {
        display: table-cell;
    }
    p.biz__desc {
        font-size: 22px;
    }
    table.biz__table {
        width: 100%;
        margin-top: 45px;
        td {
            width: 15%;
            &:nth-child(even), &:nth-child(odd)  {
                float: none;
            }
        }
        margin-bottom: 50px;
    }
    .button__white {
        font-size: 25px;
        max-width: 60%;
    }
    /* Section Part */
    section.part {
        padding-bottom: 150px;
    }
    .part__title {
        font-size: 20px;
        line-height: 20px;
    }
    h3.form__title {
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 185px;
        padding: 0 30%;
        padding-bottom: 65px;
    }
    .button__yellow-form {
        font-size: 20px;
        line-height: 20px;
        padding: 8px 10px 8px 10px;
    }
    .part__form {
        padding-bottom: 100px;
        width: 100%;
        input {
            width: 27.3%;
            padding: 20px 20px 13px 20px;
            font-size: 20px;
            display: inline-block;
        }
    }
    
    /* section write */
    
    .write__left, .write__right {
        float: left;
        width: 50%;
    }
    h2.write__title {
        font-size: 30px;
        line-height: 30px;
        width: 60%;
    }
    .write__desc {
        font-size: 20px;
        padding: 20px 0 20px 0;
    }
    .write__form {
        width: 100%;
    }
    .write__content {
        height: 570px;
    }
    .write__form {
        input[type="submit"] {
            width: 70%;
            margin-top: 10px;
            font-size: 20px;
        }
        input[type="text"] {
            font-size: 20px;
            line-height: 40px;
            padding: 0 30px 0 15px;
        }
        textarea {
            height: 100px;
            font-size: 20px;
            resize: none;
            padding: 10px 30px 0 15px;
        }
    }
    .right__container {
        width: 70%;
        text-align: left;
        padding-top: 60px;
        .promo {
            &::after {
                margin: 0;
                margin-top: 20px;
            }
        }
    }
    .write__phone, .write__address, .write__email {
        margin-top: 50px;
    }

    .write__phone {
        margin-top: 0;
    }
    
}

@media only screen and (min-width : 992px) {
    p.biz__desc {
        font-size: 26px;
        padding-right: 18%;
    }
    h2.biz__title {
        font-size: 35px;
        &::after {
            margin-top: 25px;
            width: 80px;
        }
    }
    table.biz__table {
        width: 100%;
        margin-top: 57.5px;
        td {
            width: 16.66%;
        }
        margin-bottom: 72px;
    }
    .biz__table img {
        margin-bottom: 20px;
    }
    .biz__head {
        margin-left: 85px;
    }
    .button__white {
        font-size: 25px;
        max-width: 48%;
    }
    
    /* Form */
    
    section.part {
        padding-bottom: 250px;
    }
    .part__title {
        font-size: 42px;
        line-height: 42px;
        &::after {
                margin-bottom: 33px;
        }
    }
    h3.form__title {
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 185px;
        padding: 0 30%;
        font-weight: 500;
        padding-bottom: 198px;
    }
    .button__yellow-form {
        font-size: 24px;
        padding: 15px 30px 10px 30px;
        width: 42%;
    }
    .part__form {
        padding-bottom: 100px;
        width: 100%;
        input {
            width: 27.333%;
            padding: 20px 20px 13px 20px;
            font-size: 25px;
        }
    }
    
    /* Section Write */
    section.write {
        padding: 100px 0 125px 0;
        height: 1075px;
    }
    h2.write__title {
        font-size: 32px;
        line-height: 32px;
        width: 45%;
    }
     .write__desc {
        font-size: 26px;
        line-height: 26px;
        padding-bottom: 35px;
    }
    .write__form {
        input[type="text"] {
            width: 100%;
            font-size: 21px;
            line-height: 60px;
            padding: 0 40px 0 20px;
            margin-bottom: 30px;
        }
        textarea {
            width: 100%;    
            height: 120px;
            font-size: 21px;
            resize: none;
            padding: 15px 40px 0 20px;
        }
    }
    .write__content {
        height: 750px;
    }
    .right__container {
        width: 60%;
        padding-top: 100px;
        padding-bottom: 80px;
        .promo {
            font-size: 27px;
            margin-bottom: 20px;
            &::after {
                margin-top: 30px;
            }
        }
        p {
            font-size: 27px;  
        }
    }
}

@media only screen and (min-width : 1248px) {
     section.part {
        padding-bottom: 250px;
    }
    
    /* Section Write */
    h2.write__title {
        font-size: 42px;
        line-height: 42px;
        width: 65%;
        &::after {
            margin-top: 35px;
        }
    }
    .write__desc {
        font-size: 26px;
        line-height: 26px;
        padding-bottom: 35px;
    }
    .write__form {
        input[type="text"] {
            font-size: 21px;
            line-height: 60px;
            padding: 0 50px 0 20px;
        }
    }
    .write__content {
        height: 820px;
    }
    .right__container {
        width: 52%;
        padding-top: 140px;
        padding-bottom: 110px;
    }
}

