.clear{
	clear: both;
}

/*our*/

.df-bg{
	padding: 50px 0 90px 0;
	background-color: #f5f5f5;
}
.df-section{
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;	
}
.df-slider-our{
	position: relative;
}
.df-cap-our{
	padding-bottom: 20px;
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
}
.df-cap-our:after{
	content: "";
    display: block;
    background: #cc9900;
    height: 1px;
    width: 8%;
    // margin: 0 auto;
    margin-top: 15px;
}
   
.df-slider-our__img{
	max-width: 1125px;
	height: 815px;
	width: 100%;
	position: relative;	
	// margin: 0 -350px;
	display: block;
	margin: 0 auto;
	img{
		width: 100%;
		height: 100%;
	}
}
.df-right, .df-left{
	position: absolute;
	right:405px; 
	top:50%;
	transform:translate(0, -50%);		
	background-image: url("../img/df-right.png");
	background-repeat:  no-repeat;
	background-position: center;	
	width: 59px; height: 112px;		
}
.df-left{
	left:405px;
	background-image: url("../img/df-left.png");
	background-repeat:  no-repeat;
	background-position: center;	
}
.df-slider-txt{
	position: absolute;
	bottom: 55px;
	left:50%;
	transform:translate(-50%, 0);
	text-align: center;
}
.df-img-h3, .df-img-adress{
	font-family: 'Exo2-Regular';
	font-size: 50px;
	text-transform: uppercase;
	color:#fff;	
	margin-bottom: 30px;
}
.df-img-adress{
	font-family: 'Exo2-Regular';
	font-size: 25px;
	color:#fff;
	margin-bottom: 0;
}




@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

