.clear{
	clear: both;
}

/*our*/

.df-bg{
	padding: 25px 0 57px 0;
	background-color: #f5f5f5;
}
.df-section{
	max-width: 1055px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	box-sizing:none;	
}
.df-slider-our{
	position: relative;
	.owl-item{
		// width: 607px !important;
	}
}
.df-cap-our{
	padding-bottom: 20px;
    max-width: 607px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	font-size: 19px !important;
}
.df-cap-our:after{
	content: "";
    display: block;
    background: #cc9900;
    height: 1px;   
    width: 45px;
    margin-top: 20px;
}

.df-slider-our__img{
	max-width: 620px;	
	height: 447px;
	width: 100%;
	position: relative !important;		
	display: block;
	margin: 0 auto;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
	}
}
.df-right, .df-left{
	position: absolute;
	right:28%; 
	top:50%;
	transform:translate(0, -50%);		
	background-image: url("../img/df-right.png");
	background-repeat:  no-repeat;
	background-position: center;	
	width: 59px; height: 112px;		
}
.df-left{
	left:28%;
	background-image: url("../img/df-left.png");
	background-repeat:  no-repeat;
	background-position: center;	
}
.center{
	.df-slider-txt{
		display:block;
	}
}
.df-slider-txt{
	position: absolute;
	display: none;
	bottom: 30px;
	left:50%;
	transform:translate(-50%, 0);
	text-align: center;	
}
.df-img-h3, .df-img-adress{
	font-family: 'Exo2-Regular';
	font-size: 27.5px;
	text-transform: uppercase;
	color:#fff;		
}
.df-img-adress{
	font-family: 'Exo2-Regular';
	font-size: 13.7px;
	color:#fff;	
	text-transform: none;
}


/*=============popup=======*/
.df-form-wrap{
	max-width: 412px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	background-color: #fff;
	padding: 15px 15px 20px 15px;	
	position: relative;
	.write__input-submit{
		display: inline-block;
		float: none;
		
	}
}
.dfpbottom{
	padding-bottom: 10px;
}
#df-close{
	position: absolute;
	top:10px;
	right:10px;
	cursor: pointer;
	font-size: 20px;
	font-family: Arial;
    font-weight: 700;
    text-align: center;
}
.df-poptxt2{
	font-size: 14.5px;
	font-family: 'Exo2-Regular';
	color: #1d1d1d;
	line-height: 17px;
	display: inline-block;
	padding:0px 0 30px 0;
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.df-form-wrap{		
		padding: 35px 35px 60px 35px;		
	}
}

@media only screen and (min-width : 1248px) {
}

