@import "reset.css";
@import "fonts.css";

html, body {
    height: 100%;
}

body{ 
	font-family: 'Exo2-Regular';
	font-size: 33.33px;
}
.section_padding{
    padding:20px 0;
}
.clear{
    clear: both;
}
.center{
	text-align: center;
}

h2 {
    text-transform: uppercase;
    color: #010101;
    font-family: "Exo2-Regular", sans-serif;
    font-size: 19px;
    font-weight: 400;
}
.button-1 {
    display: block;
    cursor: pointer;
    color: #c39b0c;
    border: 2px solid #c39b0c;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.write__input-text {
    font-family: "Exo2-Regular";
    color: #fff;
    font-weight: 400; 
    background: transparent;
    border: 0.5px solid #fff;
}
.write__input-submit {
    display: block;
    margin: 0 auto;
    background: #fff;
    color: #003;
    font-family: "Exo2-Regular", sans-serif;
    border: 2px solid #000;
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
    .write__input-submit {
        font-size: 16px;
    }
}

@media only screen and (min-width : 768px) {
    .write__input-submit {
        float: left;
        font-size: 20px;
    }
}

@media only screen and (min-width : 992px) {
    .write__input-submit {
        width: 70%;
        margin-top: 30px;
        font-size: 22px;
    }
}

@media only screen and (min-width : 1248px) {
    .write__input-submit {
        width: 72%;
        margin-top: 30px;
        font-size: 25px;
    }
}



@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "style5.css";
@import "style6.css";
@import "style7.css";
@import "style8.css";
@import "style9.css";
@import "style10.css";
