
.container{
	max-width:1498px;
	// padding-left: 20px;
	// padding-right: 20px;
	margin: 0 auto;
}

/* Привязка футера
===================================*/
body, html{
	height:100%;
}

.n-header{
	display:table-row;
	height: 1px;
}
.n-content{
	display:table-row;

}
.n-footer{
	display:table-row;
	height: 1px;

}
.n-wrapper{
	width: 100%;
	height: 100%;
	display:table;
}
.n-content-inner{
	display:table-cell;
	padding:15px;
}
.vertical-align{
	vertical-align:middle;
}

// Спасибо
.txt-spasibo{
	border: 2px solid black;
	text-align:center;
	max-width:600px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.dd-footer-spasibo{
	height: 60px;
	background: black;
	width: 100%;
}
.dd-pt{
	padding-top: 18px;
}


/* Давайте знакомиться
==================================*/
.section-meet{
	background: url(../img/zn.jpg) no-repeat top center;
	width: 100%;
	background-size: cover;
	padding-top: 107px;
	padding-bottom: 100px;
	// padding-bottom: 287px;
}
.dd-meet{
	// padding-left: 80px;
	padding-left: 10px;
}
.dd-meet-title{
	span{
		display: inline-block;
		color:#fff;
		text-transform: uppercase;
		font-family: 'Exo2-Regular';
		// font-size:38px; 
		font-size:33px;
		position: relative;
		padding-bottom: 36px;
		margin-bottom: 48px;
	}
	span:after{
		content:"";
		position:absolute;
		background: url(../img/line.png) no-repeat;
		height: 1px;
		width: 73px;
		bottom:0;
		left:0;
	}
}
.dd-meet-txt{
	max-width:670px;
	float:left;
	span{
		color:#fff;
		font-size:24px;
	}
}

/* Факты
=================================*/
.facts-view{
	background:#F5F5F5;
	padding: 50px 0px;
	// padding-top: 116px;
	// padding-bottom: 110px;
}
.dd-facts-left{
	background: #fff;
}
.dd-meet-title2{
	padding-left: 15px;
	span{
		color:black;
	}
}
.dd-elements{
	margin-bottom: 80px;
	text-align:center;
}
.br{
	display:none;
}
.tere{
	display:none;
}

// Правая часть
.dd-facts-right{
	background: black;
	padding-left: 10px;
	padding-right: 10px;
	span{
		color:#fff !important;
	}
}

/* Поп апы
============================*/

#mask { position:absolute; left:0; top:0;  z-index:9000;  background-color:#000; width: 100%; height: 100%;  display:none; }

.window{ 
	display: none;
	// position:absolute;
	left:0;  
	top:15%;
	display:none;
	z-index:9998; 
	border:none;
	position:fixed;
	.form-wrap-main{
		border:1px solid grey;
		background: #fff;
		// border-radius:10px;
		padding: 30px;
		height: 227px;
		text-align: center;
		.dd-input-wrap{
			input{
				width: 100%;
				outline: none;
				border:1px solid black;
				height: 40px;
				padding-left: 10px;
				margin-bottom: 10px;
				font-family: "Exo2-Regular";
			}
		}
		input[type="submit"]{
			background: black;
			color:#fff;
			font-family: "Exo2-Regular";
			outline: none;
			border:1px solid black;
			width: 200px;
			height: 45px;
			font-size: 20px;
			cursor: pointer;
			transition: 0.7s;
		}
	}
	.dd-close{
		width: 30px;
		height: 30px;
		font-family: "Exo2-Regular";
		// background: red;
    	// background:url(../img/kres.png) #98BE28 no-repeat center;
    	position:absolute;
    	top:8px;
    	right: 8px;
    	cursor: pointer;
    	transition: 0.5s;
    	border-radius:10px;
    	font-size:15px;
    }
    .dd-close:hover{
    	// background:url(../img/kres.png) #5F7C0B no-repeat center;
    }
}
// .dd-input-wrap{
// 	color:black !important;
// 	input{
// 		background: unset !important;
// 		border:1px solid red !important;
// 		color:black !important;
// 	}
// }

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.facts-view{
		padding-top: 116px;
		padding-bottom: 110px;
	}
	.dd-facts-left{
		padding-top: 66px;
		padding-bottom: 54px;
	}
}

@media only screen and (min-width : 992px) {
	.section-meet{
		padding-bottom: 287px;
	}
	.dd-meet{
		padding-left: 80px;
	}
	.dd-meet-title{
		span{
			font-size:38px; 
		}
	}

}

@media only screen and (min-width : 1248px) {
	.dd-facts-left{
		// max-width:754px;
	}
	.br{
		display:block;
	}
	.tere{
		display:inline-block;
	}
	.dd-fact-txt{
		text-align: left;
		padding-left: 50px;
	}
	.dd-meet-title2{
		padding-left: 80px;
	}
	.dd-elements{
		display: table;
		width: 590px;
		margin: 0 auto;
		.dd-fact-img{
			display: table-cell;
			width: 152px;
		}
		.dd-fact-txt{
			display: table-cell;
			vertical-align: middle;
		}
	}
	.dd-margin-bottom{
		margin-bottom: 80px;
	} 
	.dd-facts-left{
		float: left;
		// width: 748px;
		width: 630px;
	}
	.dd-facts-right{
		float: left;
		// width: 748px;
		padding-left: 0px;
		padding-right: 0px;
		width: 630px;
		padding-top: 195px;
	}
}

@media only screen and (min-width : 1500px) {
	.dd-facts-left{
		float: left;
		width: 748px;
		
	}
	.dd-facts-right{
		float: left;
		width: 748px;
	}
}